{{ partial "header.html" . }}
<header><h1 id="tag_{{ .Title }}">{{ .Title | title }}</h1></header>
<article>
<input id='search' type='text' placeholder='Search...' spellcheck='false' autocomplete='off'>
<ul id='pages'>
{{ with .Pages }}
    {{ range sort . ".Params.leaked" "desc" }}
        <a href="{{ .RelPermalink }}">
            <li data-tags='{{ .Params.artists }}{{ .Params.tags }}'>
                <div class='artists'>{{ range .Params.artists }}<span>{{ . | title }}</span>{{ end }}</div>

                <h1>{{ replace .File.BaseFileName "-" " " | title }}</h1>

                <div class='tags'>{{ range .Params.tags }}<span>{{ . | title }}</span>{{ end }}</div>
            </li>
        </a>
    {{ end }}
{{ end }}
</ul>
</article>

<script src='/search.js'></script>

{{ partial "footer.html" . }}
