<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
    {{ partial "header.html" . }}
    <link rel='stylesheet' type='text/css' href='/single.css'>

    <meta content="{{ with .Params.artists }}{{ delimit . ", " | title }} &mdash; {{ end }}{{ .Title | title }}" property="og:title" />
    <meta content="{{ with .Params.tags }}{{ delimit . ", " | title }}. {{ end }}{{ with .Params.aka }}Also known as {{ delimit . ", " | title }}. {{ end }}{{ .Summary }}" property="og:description" />
</head>
<body>

<header>
    <div class='comma-list'>{{ range.Params.artists }}<span>{{ . | title }}</span>{{ end }}</div>
    <h1>{{ .Title | title }}</h1>
    {{ partial "taglist.html" . }}
</header>
<main>
{{ .Content }}
{{ partial "metadata.html" . }}
</main>
<script src='/single.js'></script>

</body>
</html>
