#search {
    margin: 1rem;
}

#search > input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1em;
    padding: 0.5rem 1rem 0.5rem 3rem;
    border-radius: 1.5rem;
    background-color: hsla(216, 7%, 5%, 1);
    background: hsla(216, 7%, 5%, 1) url('icons/search.svg') no-repeat 1em;
    color: white;
    border: none;
    outline: none;
}

#search > input:hover, #search > input:focus {
    outline: 1px solid hsla(216, 7%, 25%, 1);
}


.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
    border-bottom: 1px dashed hsla(216, 7%, 6%, 1);
    transition: background-color 100ms;
}

.page:hover {
	background-color: hsla(216, 7%, 7%, 1);
}

.title > h1 {
    margin: 0;
    font-size: 1.75em;
}

.tags {
    display: flex;
    flex-flow: row-reverse wrap;
}

/* moves tags below title on narrow screen sizes */
@media only screen and (max-width: 500px){
    .page {
        flex-flow: column wrap;
        align-items: start;
    }

    .tags {
        margin-top: 0.5em;
        flex-flow: row wrap;
    }
}
