header {
    margin: 1em;
}

.page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border-radius: 0.5em;
    border-bottom: 1px dashed hsla(216, 7%, 6%, 1);
    transition: background-color 100ms;
}

.page:hover {
	background-color: hsla(216, 7%, 7%, 1);
}

nav {
    display: flex;
    margin-top: 1em;
}

nav > a {
	background-color: hsla(216, 7%, 12%, 1);
    border-radius: 1.5em;
    padding: 0.5em 1em;
    margin: 0.5em 0.25em;
    flex-grow: 0;
}

nav > a:hover {
	background-color: hsla(216, 7%, 16%, 1);
}

#search {
    font-size: 1em;
    flex-grow: 1;
    border: none;
    padding: 0.5em 1em;
    margin: 0.5em 0.25em;
    border-radius: 1.5em;
    background-color: hsla(216, 7%, 5%, 1);
    color: white;
    outline: none;
}

#search:focus {
    outline: 1px solid hsla(216, 7%, 25%, 1);
}




.title > h1 {
    margin: 0;
    font-size: 1.75em;
}

.tags {
    display: flex;
    flex-flow: row-reverse wrap;
}

/* moves tags below title on narrow screen sizes */
@media only screen and (max-width: 500px){
    .page {
        flex-flow: column wrap;
        align-items: start;
    }

    .tags {
        margin-top: 0.5em;
        flex-flow: row wrap;
    }

    nav {
        flex-direction: column;
    }
}
