header {
    margin-top: 1.75em;
}

header > h1 {
    margin: 0;
    margin-bottom: 0.5em;
}

main {
    margin: 1em;
}

#metadata {
    margin: auto;
    table-layout: fixed;
    border-spacing: 0 1em;
    word-break: break-all;
}

#metadata th {
    text-align: left;
    width: 6em;
    vertical-align: top;
}

.mirror {
    display: block;
    width: fit-content;
    padding: 0.5em 1em;
    margin: 0 0.5em 0.5em 0;
    border-radius: 1em;
	background-color: hsla(216, 7%, 12%, 1);
	transition: background-color 100ms;
}

.mirror:hover {
	background-color: hsla(216, 7%, 16%, 1);
}

.mirror::before {
    content: "🔗 "
}

.aliases > span + span:before {
    content: ', ';
}
