* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
	color: white;
	background-color: hsla(216, 7%, 8%, 1);
	max-width: 500px;
	margin: auto;

}

a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
}

footer {
	text-align: center;
	clear: both;
}

#back {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    width: 2em;
    height: 2em;
    background-image: url('back.svg');
	background-color: hsla(216, 7%, 12%, 1);
    border-radius: 100%;
    margin-top: 1em;
}

#back:hover {
    background-color: #ccc;
	background-color: hsla(216, 7%, 16%, 1);
}

.tags > span {
    display: inline-block;
    border: 1px solid hsla(216, 7%, 22%, 1);
    color: hsla(216, 7%, 50%, 1);
    border-radius: 1em;
    padding: 0.25em 1em;
}

.artists {
    opacity: 0.75;
    font-weight: 600;
}

.artists > span + span:before {
    content: ', ';
}

