* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
	color: white;
	background-color: hsla(216, 7%, 8%, 1);
	max-width: 600px;
	margin: auto;
}

a {
    text-decoration: none;
    color: white;
}

header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > a {
    font-size: 150%;
	background-color: hsla(216, 7%, 12%, 1);
    border-radius: 100%;
    margin: 0 0.5em;
    padding: 0.5em;
}

nav > a:hover {
	background-color: hsla(216, 7%, 16%, 1);
}

.tags > span {
    border: 1px solid hsla(216, 7%, 22%, 1);
    color: hsla(216, 7%, 50%, 1);
    border-radius: 1em;
    padding: 0.25em 0.75em;
    margin: 0.1em;
    white-space: nowrap;
}

.artists {
    opacity: 0.75;
    font-weight: 600;
}

.comma-list > span + span:before {
    content: ', ';
}
